user_name: "REPLACE_THIS"                # Name of the user you are connecting as (messages will be sent via this user)
channel_name: "REPLACE_THIS"             # Name of the channel this bot is working on (can be same as the user name, if the streamer wants to post messages as himself)
usage_message: "$(username), usage: !songrequest song-link (Spotify -> Share -> Copy Song Link)"  # Command is called without any arguments
wrong_format_message: "$(username), sorry, but only Spotify Share URLs are supported"             # Command arguments are not recognized as a Spotify share link URL
added_to_queue_message: "\"$(artists) - $(trackName)\" is added to the queue catJAM"                  # Successfully added the song to the queue
song_not_found: "Sorry, I was unable to find that song on Spotify."                  # Song search returned 0 results
custom_reward_id: "xxx-xxx-xxx-xxx"  # reward ID for the Channel Points redemption. Required to be set if usage_type is channel_points
automatic_refunds: FALSE # enable for automatic refunds. requires additional scopes!
custom_reward_name: "Song Request"   # reward name
custom_reward_cost: 500   # reward cost
express_port: 8888
logs: FALSE
usage_type: "command" # can be either "channel_points", "command" or "bits"
command_alias: ["!songrequest", "!sr"] # ["a", "b", ...] all valid aliases to request songs if usage mode is "command"
use_song_command: TRUE # add !song command that displays currently playing song. FALSE if you don't want it
minimum_requred_bits: 1 # works if usage mode is set to "bits"
skip_alias: "!skip" # alias for the "Skip Song" command

# List of ENV variables required at the start:
# SPOTIFY_CLIENT_ID
# SPOTIFY_CLIENT_SECRET
# TWITCH_OAUTH_TOKEN
# TWITCH_CLIENT_ID
# TWITCH_OAUTH_TOKEN_REFUNDS
